body {
  background: url(img/fn.jpg);
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.A {
  font-size: 10px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chess-desk {
  width: 550px;
  height: 550px;
  border: 5px solid  rgb(43, 20, 20);
  border-radius: 7px;
}

.additional-desk {
  display: flex;
}

.chess-row-0 {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.letter0 {
  color:  whitesmoke;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 500px;
}

.letters {
  height: 500px;
}

.letter {
  color:   whitesmoke;
  font-size: 25px;
  height: 61px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.chess-row {
  display: flex;
}

.frame-black {
  background-color: black;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.frame-white {
  background-color: white;
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.figure {
  height: 58px;
  padding-left: 4px;
}
